@font-face {font-family: "Nexa Bold";
  src: url("//db.onlinewebfonts.com/t/c9f309b3d47969ecac64a77a6c672594.eot");
  src: url("//db.onlinewebfonts.com/t/c9f309b3d47969ecac64a77a6c672594.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/c9f309b3d47969ecac64a77a6c672594.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/c9f309b3d47969ecac64a77a6c672594.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/c9f309b3d47969ecac64a77a6c672594.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/c9f309b3d47969ecac64a77a6c672594.svg#Nexa Bold") format("svg");
}



* {
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;

  font-family: 'Nexa Bold', sans-serif !important;
  color: black;
  font-size: 42px;
  background: black;

  //used for projection//
  transform: scaleX(-1);
}

h1{
  font-family: 'Nexa Bold', sans-serif !important;
  color: white;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

canvas{
  //z-index: 1;
}

#defaultCanvas0{
  z-index: -1;
}

#app{
  width: 100vw;
  height: 100vh;
  padding: 100px;
}
.layered-content-pj1{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "s00 s01 s02" "s10 s11 s12" "s20 s21 s22";

  > div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  h1{
    font-size: 12px;
  }

}

.s00 { grid-area: s00; }

.s01 { grid-area: s01; }

.s02 { grid-area: s02; }

.s10 { grid-area: s10; }

.s11 { grid-area: s11; }

.s12 { grid-area: s12; }

.s20 { grid-area: s20; }

.s21 { grid-area: s21; }

.s22 { grid-area: s22; }



.layered-content-pj2{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "s00 s01 s02 s03" "s10 s11 s12 s13" "s20 s21 s22 s23" "s30 s31 s32 s33";

  > div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.s00 { grid-area: s00; }
.s01 { grid-area: s01; }
.s02 { grid-area: s02; }
.s03 { grid-area: s03; }

.s10 { grid-area: s10; }
.s11 { grid-area: s11; }
.s12 { grid-area: s12; }
.s13 { grid-area: s13; }

.s20 { grid-area: s20; }
.s21 { grid-area: s21; }
.s22 { grid-area: s22; }
.s23 { grid-area: s23; }

.s30 { grid-area: s30; }
.s31 { grid-area: s31; }
.s32 { grid-area: s32; }
.s33 { grid-area: s33; }